
.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .chat-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    
  }

  .chat-item p{
    color: #054589;
    font-weight: bold;
  }

  .chat-item span{
    font-size: 13px;
  }
  
  .chat-item:hover {
    background-color: #e0e0e0;
  }
  