/* UserProfile.css */
.user-profile {
    background-color: #f0f0f0;
    padding: 20px;
    width: 25%;
    text-align: center;
    overflow-y: auto;
  }
  
  .user-profile h2 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .user-profile p {
    color: #888;
  }
  
  .user-profile button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }
  
  .attachments {
    display: flex;
    flex-direction: column;
  }
  
  .attachments button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  